.main-title, form, nav {
    font-family: sans-serif;
}

.category-label{
    width: 191px;
    background-color: #c0f4ff;
    margin-right: 10px;
}

.category{
    margin-bottom: 10px;
    display: flex;
}

input[type='text'], input[type='email']
{
    width: 191px;
}

.container {
    border: 1px solid #afabab;
    display: flex;
}

.container:last-child{
    border-bottom: 2px solid #afabab;
} 

.cell.title.narrow{
    display: none;
}

.cell.long{
    width: 218px;
}

.cell {
    flex-grow: 1;
    padding: 10px;
    width: 155px;
    border-right: 1px solid #afabab;
    font-family: sans-serif;
    font-size: 13px;
}

.cell:last-child{
    border: none;
}


.title{
    font-weight: bold;
    background-color: #c0f4ff;
}

@media screen and (max-width: 765px) {

    .cell, .cell.long {
        width: initial;
        display: flex;
        text-indent: 16px;
        border: none;
        align-items: center;
    }
    .container{
        flex-direction: column;
    }

     .cell.title.narrow{
         display: inline-block;
         width: 20%;
     }

    .cell:last-child{
        border: none;
    }

    .cell.title.wide{
        display: none;
    }

    .cell-content{
        display: inline-block;
        width: 70%;
    }
}

